body {
    font-family: 'Philosopher', sans-serif;
    color: #666;
    background: #002937;
    line-height: 1.6;
  }

  h1 {
    font-size: 32px;
    text-align: center;
    margin: 0;
    color: #fadb41;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    color: #fadb41;
    font-weight: bold;
  }

  h3 {
    font-size: 26px;
    text-align: center;
    color: #fadb41;
    font-weight: bold;
    margin: 5px auto;
  }

  h4 {
    font-size: 20px;
    margin: 0;
    text-align: left;
    color: #fff;
    justify-content:flex-end;
  }

  

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  } 

  p {
    font-size: 1.1em;
  }

  sup, sub {
    font-size: 10px;
  }

  hr {
      width: 100%;
      border: solid .3px #92929240;
  }

  blockquote {
    border-left: solid 5px #efefef;
    margin: 2em 0;
    padding: 0.5em 0 0.5em 1.5em;
  }

  code {
    background: #f7f7f7;
    border-radius: .35em;
    border: solid 2px #efefef;
    font-size: .9em;
    padding: .25em .65em;
    font-family: 'Courier New', Courier, monospace;
    color: #929292;
  }

  pre code {
    display: block;
  }

  ul, ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    list-style-position:inside;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }

  a {
    text-decoration: none;
    display: block;
    width: 80%;
    margin: 0;
    font-size: 1.3em;
    text-align: center;
  }

  abbr {
    cursor: help;
  }

  img{
    height: 4.5em;
    margin: 20px auto 0 auto;
    padding: 0;
    line-height: 0;
  }

  .cursor h4 {
    cursor: pointer;
  }
  
  .hr {
    border-bottom: solid 0.5px #b3909050;
  }

  #app {
    text-align: center;
    color: #899fa4;
  }

  #main {
    color: white;
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .div-two-personal {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
  }
  .div-two-personal div{ 
    width: 50%;
    
  }
  .div-two-personal div:nth-child(1){ 
    padding-right: 5px;
  }
  
  .div-two-personal div:nth-child(2){ 
    padding-left: 5px;
  }
  
  .div-two-personal-two { 
    width: 100%;
    box-sizing: content-box;
  }
  

  #main li {
    list-style-type:disc;
    list-style-position: outside;
  }

  .main-c {
    text-align: center;
  }
  
  .main-c-line-height-one {
    text-align: center;
    line-height: 1em;
  }

  .background-yellow {
    background-color: #fadb41;
    width: 100%;
  }

  .main-j {
    text-align: justify;
  }

  .main-l-personal {
    text-align: center ;
  }

  .main-r-personal {
    text-align:  center;
  }

  .nav-in {
    padding: 0;
    color:#899fa4;
    margin: auto;
    font-size: .8em;
    text-align: center;
  }

  .nav-in a {
    font-weight: bold;
    color: #899fa4;
    display: inline;
    padding: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
  }

  .nav-in a:hover {
    color: #fadb4190
  }

  .nav-in a.router-link-exact-active {
    color: #fadb41;
    border-bottom: solid 1px #fadb41;
  }

  .fasi {
    color: #fadb41;
    font-size: 34px;
    margin:auto;
  }
/* 
  .box i {
    color: #77777790;
    transition: color .4s linear;
  }

  .box:hover i {
    color: #fff;
  } */
  .main {
      width: 40%;
      margin: auto;
      display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;  
    align-self: center;
    }

    .main a{
      padding: 5px 0;
      text-decoration: none;
    transition: color .4s linear, border .4s linear, background .4s linear;
    color: #777;
    text-indent: 0;
    background: #fff;
    width: 100%;
    margin: 10px 10px;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    cursor: pointer;
    
  }

.whats-static {
  color: #fadb41;
  font-size: 2.5em;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
}

.whats-static:hover {
  color: #60D66A;
}
  
  .btn-after {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: auto;

        margin-top: -10px;
  }

  .btn-after a{ 
    text-decoration: none;
    transition: color .4s linear,
    border .4s linear,
    background .4s linear;
    color: #777;
    text-indent: 0;
    background: #fff;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    cursor: pointer;
  }

  .btn-afterTwo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
    margin: auto;
    margin-top: 10px;
  }
  
  .btn-after a{ 
    text-decoration: none;
    transition: color .4s linear,
    border .4s linear,
    background .4s linear;
    color: #777;
    text-indent: 0;
    background: #fff;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    cursor: pointer;
  }
  
  .mainOne a:hover{ 
      background: #fadb41;
      color: #002937;
  }

  .mainTwo a:hover{ 
      background: #860d0d;
      color: #fff;
  }

  .mainTree a:hover{
    background: #205461;
      color: #53dd84;
  }


  .btn-after a:hover:nth-child(1),
  .btn-after a:hover:nth-child(2),
  .btn-after a:hover:nth-child(3) {
    background: #fadb41;
    color: #002937;
  }
  
  .btn-wtp a{
  padding: 0;
    text-decoration: none;
    transition: all .4s linear;
    color: #fff;
    text-indent: 0;
    background: #ffffff80;
    border: solid 1px #fadb41;
    width: 17%;
    font-size: 1.1em;
    margin: 10px auto;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
}
  .btn-wtp a:hover{
  padding: 0;
    text-decoration: none;
    /* color: #fadb41;
    background: #fff;
    font-weight: bold; */
    text-decoration: underline;
    border: solid 1px #fff;
    

}

  .main-p {
    text-align: center;
  }

  .main-j {
    text-align: justify;
  }

  .main-l {
    text-align: left;
  }

  .main-r {
    text-align: right;
  }

  .homed {
    display: flex;
  }
  /* .main a{
    padding: 20px 10px;
    text-decoration: none;
    transition: color .4s linear, border .4s linear, background .4s linear;
    color: #777;
    text-indent: 0;
    background: #fff;
    width: 10%;
    margin: 10px auto;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
  }
  
  .main a:hover {
    background: #fadb41;
    color: #fff;
  }

  .homed {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;  
    align-self: center;
  } */

  .homed a {
    margin: 10px;
  }

  table {
  font-weight: normal;
  text-align: center;
  width: 100%;
  margin: auto;
  font-weight: normal;
  text-align: center;
  overflow-x: auto;
}

.dot {
  cursor: pointer;
  transition: all .3s ease-in;
}

.dot:hover {
  color: #fadb41;
  background-color: #d8d8d840;
}

.dot:active {
  color: white;
  background-color: #d8d8d8;
}

/* td, th {
  white-space: nowrap;
}

.headcol {
  white-space: nowrap;
  position: absolute;
  margin-right: 300px;
  left: -150px;
  clear: both;
} */

.table-overflow {
  overflow-x: auto;
}

.tab-fc-alvo th:nth-child(1) {
  text-align: left;
  padding-left: 10%;
}

.tab-fc-alvo tr:nth-child(2n -1) td {
  text-align: left;
  padding-left: 20%;
}

.tab-fc-alvo tr:nth-child(2n) td {
  background-color: #fff;
}

tfoot td {
  font-size: .7em;;
}

th {
  border: solid 0.5px #d8d8d850;
  color: #555;
  background-color: #fff; 
  font-weight: normal;
  font-size: 18px;
}

td {
  padding: 7px;
  font-size: 18px;
  color: #fff;
  border: solid 0.5px #d8d8d850;
}

td a{
  color: #fff;
  width: 100%;
}

  @media only screen and (max-width: 1125px) {
    .btn-after a {
      text-decoration: none;
      transition: color .4s linear,
      border .4s linear,
        background .4s linear;
        color: #777;
        text-indent: 0;
        background: #fff;
        border-radius: 0.3em 0.3em 0.3em 0.3em;
        cursor: pointer;
        
      }
      
      .btn-after {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-top: -10px;
      }

      .main-l-personal {
        text-align: center;
      }

      .main-r-personal {
        text-align: center;
      }

      .mainOne a:hover{ 
      background: #fadb41;
      color: #002937;
  }

  .mainTwo a:hover{ 
      background: #860d0d;
      color: #fff;
  }

      .div-two-personal {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
  }

  
  .div-two-personal div{ 
    width: 95%;
    
  }
  .div-two-personal div:nth-child(1){ 
    padding-right: 5px;
  }
  
  .div-two-personal div:nth-child(2){ 
    padding-left: 5px;
  }
  
  .div-two-personal-two { 
    width: 100%;
    box-sizing: content-box;
  }
  

      h1 {
        font-size: 1.6em;
    }
    
    h3 {
      font-size: 20px;
    }

    p{
      font-size: 1em;
    }

    li{
      font-size: 1em;
    }
    
    #nav {
      font-size:0.9em;
    }
    
    .box {
      width: 90%;
    }
    
    #main {
      width: 90%;
    }
    
    .main {
      margin: auto;
      width: 90%;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;  
      align-self: center;
    }
    
    .main a{
      text-decoration: none;
      transition: color .4s linear, border .4s linear, background .4s linear;
      color: #777;
      text-indent: 0;
      background: #fff;
      border-radius: 0.3em 0.3em 0.3em 0.3em;
    }
  
  .main a:hover {
    background: #fadb41;
    color: #002937;
  }


  .homed {
    display: flex;
  }

  #main li {
    list-style-type:disc;
    list-style-position: inside;
  }

  .main-c {
    text-align: center;
  }

  .main-p {
    text-align: center;
  }

  .main-j {
    text-align: justify;
  }

  .main-l {
    text-align: left;
  }

  .main-r {
    text-align: right;
  }

  img{
  height: 4.5em;
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 0;
  }

  table {
    width: 100%;
    margin: auto;
    font-weight: normal;
    text-align: center;
    overflow-x: auto;
  }

  .tab-fc-alvo th:nth-child(1) {
    text-align: left;
    padding-left: 10%;
  }

  .tab-fc-alvo tr:nth-child(2n -1) td {
    text-align: left;
    padding-left: 20%;
  }

  .tab-fc-alvo tr:nth-child(2n) td {
    background-color: #fff;
  }

  tfoot td {
    font-size: 8px;
  }

  th {
    border: solid 0.5px #d8d8d850;
    color: #777;
    background-color: #fff;
    font-weight: normal;
    font-size: 12px;
    padding: 0 7px ;
  }

  td {
    padding: 7px;
    font-size: 13px;
    color: #fff;
    border: solid 0.5px #d8d8d850;
  }
  .btn-wtp a{
  padding: 0;
  text-decoration: none;
  transition: all .4s linear;
  color: #fff;
  text-indent: 0;
  background: #ffffff80;
  border: solid 1px #fadb41;
  width: 40%;
  font-size: 1.1em;
  margin: 10px auto;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}
  .btn-wtp a:hover{
  padding: 0;
    text-decoration: none;
    /* color: #fadb41;
    background: #fff;
    font-weight: bold; */
    text-decoration: underline;
    border: solid 1px #fff;
  }
  
  .btn-afterTwo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
    margin: auto;
    margin-top: 0px;
  }

  @media only screen and (max-width: 445px) {
    .btn-after a {
        margin-top: 0px;
        width: 44%;
      }

    .btn-w a {
        margin-top: 0px;
        width: 95%;
      }
      
      .mainOne a:hover{ 
      background: #fadb41;
      color: #002937;
  }

  .mainTwo a:hover{ 
      background: #860d0d;
      color: #fff;
  }
      .btn-after {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0;
      }

      .main-l-personal {
        text-align: left;
      }

      .main-r-personal {
        text-align: right;
      }
      .btn-afterTwo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
    margin: auto;
    margin-top: 0px;
  }
    }
  @media only screen and (max-width: 369px) {
    .btn-after a {
        margin-top: 0px;
        width: 95%;
      }
      
      .btn-after {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0;
      }
      
    }
    .btn-afterTwo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 90%;
    margin: auto;
    margin-top: 0px;
  }

}